.vscode/
.idea/
tests/datasets/*
tests/output_data/data_frames/*
tests/output_data/edglistes/*
tests/output_data/embbedings/*
tests/output_data/walks/*
dist/
*.pyc
modele.bin
coverage.xml
*.ipynb
*.py
